[submodule "Hardware/MaxiCarrierPCB/KiCAD-Sharepoint"]
	path = Hardware/MaxiCarrierPCB/KiCAD-Sharepoint
	url = git@github.com:lhr-solar/KiCAD-Sharepoint
[submodule "Hardware/SuppMonTesterPCB/KiCAD-Sharepoint"]
	path = Hardware/SuppMonTesterPCB/KiCAD-Sharepoint
	url = git@github.com:lhr-solar/KiCAD-Sharepoint
